
body{
  /*Check for useless tags here*/
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 80%;
  text-align: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
header{
  /*Check for useless tags here*/
  background-size: cover;
  background-position: bottom center;
}
.logopart{
  color: #58B8B6;
}
.LogoAndText{
  display:inline-flex;
  align-items: flex-start;
width: 30%;
}
.topnav{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  word-spacing: 25px;
  font-weight: bold;
  color: white;
}
.topnav li{
  display:inline-block;
}
.Alltogether{
  background-image: url("photoshop/design-assets/bgk-header.png") ;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}
.backgroundOne h1,
.backgroundOne p {
margin-top: 50px;
color: white;
}
.sectionTwo{
  display: flex;
justify-content: center;
margin: 25px;
}
.ourstory{
  width: 400px;
}
.backgroundTwo{
  background-image: url("photoshop/design-assets/bgk-middle.png");
    padding: 10%;
}
.backgroundTwo h4{
  color: white;
}
table{
  width: 600px;
margin: auto;
  text-align: center;
}
tbody td{
  border: 1px solid black;
  width:200px;
}
tbody{
  height: 200px;
}
.backgroundThree{
    background-image: url("photoshop/design-assets/bgk-middle.png");
    color: white;
    padding: 25px;
    margin: 25px;
}
figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
    background-color: white;
    color: black;
}
input{
  margin: auto;
  display: block;
}
.twoblocks form,
.twoblocks div{

  text-align: center;
}
#HappClient{
  display: inline-block;
}
.logobrand{
  width: 75px;
  height: 75px;
  display: inline-block;
}
.twoblocks{
  display: inline-block;
  color: red;
}
.HappClient,
.twoblocks{
  display: flex;
  justify-content: center;
}

/*58B8B6 green color*/
